<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>467407536981-3r0jdb6uh326ddmlstf3gjr05f1ek86v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467407536981-3r0jdb6uh326ddmlstf3gjr05f1ek86v</string>
	<key>API_KEY</key>
	<string>AIzaSyClCGU5o1rAU_RO_Djn_9DhAL2_Hkw1EXM</string>
	<key>GCM_SENDER_ID</key>
	<string>467407536981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.georgy.--stone</string>
	<key>PROJECT_ID</key>
	<string>b-stone</string>
	<key>STORAGE_BUCKET</key>
	<string>b-stone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467407536981:ios:313bfdd1a1de5cee</string>
	<key>DATABASE_URL</key>
	<string>https://b-stone.firebaseio.com</string>
</dict>
</plist>